<div [formGroup]="form">
<section class="example-section">
  <span class="example-list-section">
    <mat-checkbox class="example-margin"
                  [checked]="allComplete"
                  (change)="setAll($event.checked)">
      {{task.name}}
    </mat-checkbox>
  </span>
  <span class="example-list-section">
    <ul>
      <li *ngFor="let subtask of task.subtasks">
        <mat-checkbox formControlName="permissions"
                      [(ngModel)]="subtask.completed"
                      [color]="subtask.color"
                      (ngModelChange)="updateAllComplete()"
                      value="sdfsdf">                  
          {{subtask.name}}
        </mat-checkbox>
      </li>
    </ul>
  </span>
</section>

<button mat-raised-button (click)="onSubmit()">
  Valider
</button>

</div>